import React from 'react';
import './{{pascalCase name}}.styles.css';

function {{pascalCase name}}() {
  return (
    <div className="{{kebabCase name}}-container">
    </div>
  );
};

export default {{pascalCase name}}
